@media screen and (max-width: 700px){
  header .container {
    display: flex;
    flex-direction: column;

  }

  .filme-principal{
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/ALIEN O OITAVO PASSAGEIRO M.jpg');
    height: 80vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }


  .botao{
    margin-top: 5px;
    width: 300px;
  }



}

@media screen and (min-width: 1000px) {
  .descricao{
    width: 50vw;
  }

}
